<div class="sub-navigation" id="sub-navigation">
	<ul>
		<li><a href="#" class="menu-btn selected" id="navAppetizers">Appetizers</a></li>
		<li><a href="#" class="menu-btn" id="navIndianBreads">Indian Breads</a></li>
		<li><a href="#" class="menu-btn" id="navIdly">Idly</a></li> 
		<li><a href="#" class="menu-btn" id="navDosaBasics">Dosa Basics</a></li>
		<li><a href="#" class="menu-btn" id="navSignatureDosa">Signature Dosa</a></li>
		<li><a href="#" class="menu-btn" id="navUthapams">Uthapams</a></li>
		<li><a href="#" class="menu-btn" id="navLunch">Lunch Items</a></li>
		<li><a href="#" class="menu-btn" id="navSides">Side Dish</a></li>
		<li><a href="#" class="menu-btn" id="navDessert">Dessert</a></li>
		<li><a href="#" class="menu-btn" id="navBeverages">Beverages</a></li>
		<li><a href="#" class="menu-btn" id="navJain">Jain / Swaminarayan</a></li>
	</ul>
</div>