<div class="top-nav">
	<div class="logo">
		<a href="index.php">
			<img src="./img/mobile-logo.png" alt="Guru Lukshmi Logo" class="logo-img">
		</a>
		<div class="consumers-choice2">
			<img src="./img/consumers-choice.png">
		</div>
	</div>
	<div class="nav-toggle-container">
        <a href="#nav" class="nav-toggle"></a>
    </div>
    <div class="responsive-navigation" role="navigation" id="responsive-navigation">
    	<div style="padding:15px;">
			<ul>
				<li><a href="index.php" id="resHome">Home</a></li>
				<li><a href="about.php" id="resAbout">About Us</a></li>
				<li><a href="menu.php" id="resMenu">Menu</a></li>
				<li><a href="reviews.php" id="resReviews">Reviews</a></li>
				<li><a href="gallery.php" id="resGallery">Gallery</a></li>
				<li><a href="contact.php" id="resContact">Contact Us</a></li>
			</ul>
		</div>
    </div>
	<div class="clear"></div>
</div>
<div class="clear"></div>