<div class="intro-heading">
    <div class="banner">
        <ul class="slides">
            <li>
                <img src="./img/welcome/welcome1.png">
            </li>
            <li>
                <img src="./img/welcome/welcome2.png">
            </li>
            <li>
                <img src="./img/welcome/welcome3.png">
            </li>
            <li>
                <img src="./img/welcome/welcome4.png">
            </li>
            <li>
                <img src="./img/welcome/welcome5.png">
            </li>
            <li>
                <img src="./img/welcome/welcome6.png">
            </li>
            <li>
                <img src="./img/welcome/welcome7.png">
            </li>
            <li>
                <img src="./img/welcome/welcome8.png">
            </li>
        </ul>
    </div>
</div>